body{
  font-family: sans-serif;
  margin: 40px auto;
  padding: 0px 10px;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 18px;
  background-color: #eee;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


img {
    transition:transform 0.25s ease;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.zoom:hover {
    -webkit-transform:scale(1.6); 
/*    transform:scale(1.75);*/
}


OL { counter-reset: item }
LI { display: block }
LI:before { content: counters(item, ".") ". "; counter-increment: item }




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width: auto;
  position: relative;
  margin: auto;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: auto;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  background-color: rgba(0,0,0,1.0);
}

/* Position the "next button" to the right */
.next {
  right: 80;
}

/* Position the "next button" to the right */
.prev {
  left: 80;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1.0);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 120;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

